<h1 class="h2">About Myself</h1>

<div class="card mx-auto bg-warning" style="width:100%;">
  <br>
  <img class="card-img-bottom img-thumbnail mx-auto " src="https://i.kym-cdn.com/photos/images/original/001/479/169/c57.gif" alt="Card image cap" style="width:50%;">
  <h3 class="mx-auto ">Jaxon Ruans</h3>
  <hr>
  <div class="card-body">
    <h2 class="card-text ">
      Hi, My name is <strong>Jaxon Ruans</strong>. I am a QCC(QueensBorough Community College) and future
      Queens College student who majors Internet Information Technology.
      Also, instead of programming, I am also a painter that liles draw paitings,arts and logo designs. I created this
      website because I want to let people view my productions. This is totally a free website, no need to log in and
      sign up, you can see this website whenever you want to see.


    </h2>
  </div>
</div>
<hr>
<h1 class="h2">About My Major</h1>

<div class="card text-center mx-auto" style="width:45%;">
  <div class="card-header">
    <h3>What is Internet Information?</h3>
  </div>
  <div class="card-body">

    <h4 class="card-title">Internet Information is the study of computers and computational programming system.</h4>
    <p class="card-text">We can use this for dealing with the computer systems, networks, database systems, cyber
      security or we can also create games, websites.. etc. So, That is reason why I also love building the website.
      This is website is my first completed Website as you can see</p>
    <strong class="card-text mx-auto">Internet Information is one of the majors that includes a lot of math and a lot of programming languages.</strong>
  </div>
</div>
<hr />
<br /><br />

<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">
  More Information
</h1>
<div class="row fg">
  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#lehao" class="btn " routerLink="/cart">
          <img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <a href="#lehao" class="btn " routerLink="/cart">
          <p class="card-text font1">MarVel Arts</p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/graphic"><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <p class="card-text font1">Random Arts</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/illustration"><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">More Information</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/shipping"><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">Logo Design</p>
      </div>
    </div>
  </div>
</div>