<h3 style="text-align:center;">My Logo Design</h3>

<div class="card border-dark">
  <div class="card-header border-primary">
    <h1 class="card-text" style="padding-left:25px;">Dear Visitors:</h1>
  </div>
  <div class="card-body  text-danger">
    <h2 style="padding-left:25px;">
      Hi, Welcome to view my logo design, for this webpage, I am working for
      serval companies to design their logos, and I passionately am willing to
      create any styles of the logo designs. Thank you for reading this article.
      And, please feel free to take a look of my arts!
      <br />
      Best;
      <br />
      Jaxon Ruans
    </h2>
  </div>
</div>

<div class="card border-dark">
  <div class="card-header border-primary">
    <h1 class="card-text text-dark" style="padding-left:25px;">View My Logo</h1>
  </div>
  <div class="card-body " style="text-align:center;">
    <app-portfolio-lightbox
      portfolioURL="/assets/shipping.json"
    ></app-portfolio-lightbox>
  </div>
</div>

<hr />
<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">
  More Information
</h1>
<hr />
<div class="row fg">
  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#lehao" class="btn " routerLink="/cart">
          <img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <a href="#lehao" class="btn " routerLink="/cart">
          <p class="card-text font1">MarVel Arts</p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/graphic"
          ><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <p class="card-text font1">Random Arts</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/illustration"
          ><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">More Information</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink=""
          ><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">HOME</p>
      </div>
    </div>
  </div>
</div>
