<body class="b">

  <br><br><br>
  <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)"
    style="background-image: url('  https://media.istockphoto.com/vectors/clouds-of-dialogue-bubbles-for-talking-vector-vector-id1189484012?k=6&m=1189484012&s=612x612&w=0&h=NAJZZoHAPxTSic52kY1E1bTFHwigYLxngUdEN2TURR4= ');">
    <h2>Your Name:</h2>
    <input
      type="text"
      ngModel
      name="user"
      placeholder="Enter Your Name (optional)"
    />

    <h2>Phone Number:</h2>
    <input
      type="tel"
      id="phone"
      ngModel
      name="phone"
      placeholder="Enter Your Phone Number"
    />

    <h2>E-mail:</h2>
    <input type="email" ngModel name="email" placeholder="Enter Your E-mail" />
    <h2>Date:</h2>
    <input type="date" ngModel name="date" placeholder=" " />

    <h2>What are you feeling about this？</h2>
    <input type="range" ngModel name="range" placeholder=" " />
    <h2>Post picture</h2>
    <input type="file" ngModel name="file" placeholder=" " />

    <h2>What is your feed back?</h2>
    <textarea
      rows="4"
      cols="50"
      name="comment"
      form="usrform"
      placeholder=" Enter text here..."
    ></textarea>
    <br><br>
    <button (click)="signin()">
      submit
    </button>
  </form>
</body>


<script>
  const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const info = document.querySelector(".alert-info");
    const error = document.querySelector(".alert-error");

    function process(event) {
      event.preventDefault();

      const phoneNumber = phoneInput.getNumber();

      info.style.display = "";
      info.innerHTML = `Phone number in E.137 format: <strong>${phoneNumber}</strong>`;
    }
</script>
<br><br><br><br><br><br><br><br><br><br><br><br>