form {
  border: 2px black solid;
  margin: -1%;
  padding: 100px;
  color: black;
  font-family: cursive;

  content: icon;
  text-align: left;
  background-color: rgb(184, 207, 199);
}

#description {
  height: 500px;
}
.b {
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}
